$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$highlighted-font: 'Kaushan Script', sans-serif;

$darkgray-color: #333333;
$lightgray-color: #999999;
$white-color: #ffffff;
$golden-color: #fce38a;
$fuchsia-color: #f38181;
$lightergray-color: #e5e5e5;
$lightgreen-color: #95e1d3;